<a href="https://colab.research.google.com/github/sarabian/primeirograo/blob/main/sarabian.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [48]:
import os
import pandas as pd
import plotly.express as px
#depois de enterdermos o desafio proposto
#percorrer o sistema operacional em busca da pasta vendas procurar os arquivos
#importar base de dados de vendas
#tratar e compilar os dados
#calcular produto mais vendido
#calcular produto mais faturou
#calcular loja que mais faturou  dashbord

In [34]:
#vamos utilizar a variavel pra armazenar o arquivo 
lista_arquivo=os.listdir("/content/drive/MyDrive/Vendas")
tabela_total=pd.DataFrame()
#estrutura de repeticao vamos utilizar o for
for arquivo in lista_arquivo:
    if "vendas" in arquivo.lower():
    
    #vamos importar os arquivos  
      tabela=pd.read_csv(f"/content/drive/MyDrive/Vendas/{arquivo}")    
      tabela_total=tabela_total.append(tabela)
display(tabela_total)

,Unnamed: 0,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Unnamed: 8
0,14,HL4379,Televisão,4,Ylana,Teraoka,6/23/2018,Porto Alegre,2500,NaN
1,34,HL1148,Câmera,1,Rubens,Netto,7/11/2018,Porto Alegre,2100,NaN
2,43,HL1148,Câmera,5,Paloma,Sperandei,9/15/2018,Porto Alegre,2100,NaN
3,49,HL8851,Notebook,5,Breno,Farias,6/24/2018,Porto Alegre,3500,NaN
4,52,HL4379,Televisão,2,Lorena,Kohn,7/31/2018,Porto Alegre,2500,NaN
...,...,...,...,...,...,...,...,...,...,...
714,9859,HL2714,Tablet,1,Júlio,Fraga,12/25/2018,Curitiba,1600,NaN
715,9876,HL4379,Televisão,5,Bruno,Mota,4/30/2018,Curitiba,2500,NaN
716,9918,HL1148,Câmera,2,Lucas,Reis,12/27/2018,Curitiba,2100,NaN
717,9944,HL1918,iPhone,5,Raphael,Kurtz,7/16/2018,Curitiba,5300,NaN
718,9998,HL7348,SmartWatch,1,Vinícius,Antunes,12/10/2018,Curitiba,1400,NaN

In [40]:
#vamos compiar a tabela
tabela_produtos=tabela_total.groupby('Produto').sum()
tabela_produtos=tabela_produtos[['Quantidade Vendida']].sort_values(by='Quantidade Vendida',ascending=False)
display(tabela_produtos)

            Quantidade Vendida
Produto
iPhone                    8974
Televisão                 5931
Notebook                  3249
Android                   3183
SmartWatch                2980
Tablet                    2921
Câmera                    2805

In [45]:
tabela_total['faturamento']=tabela_total['Quantidade Vendida']*tabela_total['Preco Unitario']

tabela_faturamento=tabela_total.groupby('Produto').sum()
tabela_faturamento=tabela_faturamento[['faturamento']].sort_values(by='faturamento',ascending=False)
display(tabela_faturamento)

            faturamento
Produto
iPhone         47562200
Televisão      14827500
Notebook       11371500
Android        10822200
Câmera          5890500
Tablet          4673600
SmartWatch      4172000

In [46]:
tabela_loja=tabela_total.groupby('Loja').sum()
tabela_loja=tabela_loja[['faturamento']]
display(tabela_loja)

                faturamento
Loja
Belo Horizonte      6480300
Curitiba            7060500
Fortaleza          14087900
Goiás               7441800
Porto Alegre        6868600
Recife              7303000
Rio de Janeiro     14867800
Salvador           13111300
São Paulo          22098300

In [50]:
grafico=px.bar(tabela_loja,x=tabela_loja.index,y='faturamento')
grafico.show()

sobre importar a biblioteca  os    pra navegar entre os arquivos.